 /* (1) 页面主体设置 */
body {
    width: 1200px;
    margin: 0 auto;  /* 上下边距为0，左右居中 */
}

/* (2) 设置table部分 */
table {
    border-collapse: collapse;  /* 合并边框 */
    width: 1000px;
    margin: 0 auto;  /* 左右居中 */
}

/* (3) 表格列td设置 */
td {
    padding: 5px;  /* 内边距是5px */
}

/* (4) 设置id为intr部分 */
#intr {
    font-family: "华文新魏", sans-serif;  /* 字体为"huawenxinwei" */
    font-size: 20px;  /* 字号为20px */
    padding: 10px;  /* 内边距为10px */
}
